@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;

}

body {

    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    

}
/* headings and logo */

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}



/* nav links */ 

#menu {
    font-size: 180%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;

}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;   
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#zlatan-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#zlatan-image {
    height: 600px;
    width: 100%;
    background: url('../image/picture1.jpg') no-repeat center center; 
}

#cover-text, #cover-text h2 {
    color: #fff;

} 
/* text on the image */

#cover-text, #cover-text h2 {
    color: #fff;

} 
#cover-text {
    font-size: 130%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;
    
    position: absolute;
}

.stadium-link {
    text-decoration: none;
    color: black;
    font-family: oswald, sans-serif;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .box h2 {
    margin-top: 0; 
  }
  
  .box p {
    margin-bottom: 0;
  }

  
  